/**** card ****/
.card {
    background-color: white;
    border-radius: 1.25em;
    padding: 0.313em;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

/**** star and euro ****/
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}