.location-container {
    background-color: $location-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em;
    z-index: 1;
    position: relative; // relative position to activate z-index
    @include flex($align: center, $justify: center);
    gap: 1em;

    @include widescreen {
        box-shadow: none;
    }

    &__content {
        font-size: 1em;
        font-weight: 500;
        color: $secondary-text-color;
    }
}

.main-section {
    @include flex($direction: column);
    padding: 2.5em 1.25em 3.5em 1.25em;
    text-align: center;
    background-color: $main-background-color;

    @include widescreen {
        padding-top: 1.875em;
        padding-bottom: 1.875em;
    }

    &__title {
        // for a better render of the title
        @media (max-width: 449px) {
            max-width: 250px;
            margin: auto;
        }

        @include widescreen {
            font-size: 2.5em;
        }
    }

    &__subtitle {
        margin-top: 1em;
        margin-bottom: 1.75em;
        color: $secondary-text-color;

        @include widescreen {
            margin: 1.125em 0;
        }
    }
}

.functioning-section {
    background-color: $secondary-background-color;
    padding: 3em 1.25em 4.25em 1.25em;

    @include widescreen {
        padding: 3.125em 1.25em;
        max-width: 67.5em;
        margin: auto;
    }
}

.functioning-container {
    @include flex($direction: column);
    gap: 1.5em;
    margin-top: 1.625em;

    @include widescreen {
        flex-direction: row;
    }
}

.restaurants-section {
    padding: 3.375em 1.125em 4.125em 1.125em;
    background-color: $main-background-color;
    
    @include widescreen {
        padding: 1.875em 1.25em;

        &__wrapper {
            max-width: 67.5em;
            margin: auto;
        }
    }
}

.restaurants-container {
    @include flex($direction: column);
    gap: 1.125em;
    margin-top: 1.25em;

    @include widescreen {
        margin-top: 1.75em;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: min(3.47vw, 3.125em) min(6.94vw, 6.25em);
    }
}
