.presentation-img-container {
    height: 17.125em;
    overflow: hidden;

    @include widescreen {
        height: 23.875em;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        @include widescreen {
            transform: translateY(-8em);
            height: max(26.6vw, 32em);
        }
    }
}

.menu-section {
    padding: 2em 0.875em 2.5em 0.875em;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    background-color: $main-background-color;
    position: relative;
    margin-top: -3.375em;

    @include widescreen {
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu-header {
    @include flex($align: center, $justify: space-between);
    padding-right: 1.75em;
    padding-left: 0.25em;
    margin-bottom: 2em;

    &__title {
        font-family: $secondary-font-family;
        font-size: 1.75em;
        font-weight: 400;
        text-wrap: nowrap;
        @extend %text-overflow-ellipsis;
    }

    @include widescreen {
        justify-content: center;
        gap: 1.563em;
    }
}

.course-article {
    @include widescreen {
        max-width: 39.625em;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        position: relative;
        font-weight: 300;
        font-size: 1em;
        padding-bottom: 0.563em;
        text-transform: uppercase;

        &::after {
            @include pseudo-elements-absolute-full-size($width: 2.5em, $height: 3px, $top: calc(100% - 3px));
            background-color: $tertiary-color;
        }
    }
}

.menu-cards-container {
    @include flex($direction: column);
    gap: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 2.5em;
}

.restaurants-btn {
    text-align: center;
    max-width: 186px;
}