.functioning-cards {
    @include flex($align: center);
    position: relative;
    background-color: $main-background-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1.25em;
    padding: 1.75em 0;
    margin-left: 0.75em;
    gap: 1.375em;
    
    @include widescreen {
        gap: min(1.52vw, 1.375em);
        flex: 1;
    }
    
    &__title {
        font-size: 1em;
        font-weight: 500;
    }

    &__number {
        position: relative;
        color: $btn-text-color;
        font-size: 0.875em;
        font-weight: 500;
        padding: 0.25em 0.5em;
        background-color: $main-color;
        border-radius: 50%;
        margin-left: -0.75em;
    }
}
