$green-check-width: 3.688em;
$check-animation-time: 250ms;
$border-radius: 0.938em;

$time-animation: 250ms;
$animation-delay: $time-animation;
$next-animation: 0ms;

@keyframes animated-cards {
    0% {
        transform: translateY(-71px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@for $i from 1 through 10 {
    .animation-#{$i} {
        animation: forwards animated-cards $time-animation;
        animation-delay: $next-animation;
    }

    $next-animation: $next-animation + $animation-delay;
}

.menu-cards {
    display: flex;
    border-radius: $border-radius;
    background-color: $secondary-background-color;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(-71px);
    text-wrap: nowrap;

    &__content-container {
        padding: 0.813em 0.938em;
        flex: 1;
        overflow: hidden;
    }

    &__title {
        font-weight: 500;
        font-size: 1.125em;
        margin-bottom: 0.313em;
        @extend %text-overflow-ellipsis;
    }

    &__sub-and-amount-container {
        @include flex($justify: space-between);
    }

    &__subtitle {
        font-weight: 300;
        font-size: 0.938em;
        @extend %text-overflow-ellipsis;
    }

    &__amount {
        font-weight: 700;
        font-size: 0.938em;
        color: $secondary-text-color;
    }

    // check animation, 2 pseudo elements for expected rendering with transform
    &::after {
        content: "";
        width: 0;
        transition: width $check-animation-time ease-out;
    }

    &::before {
        @include pseudo-elements-absolute-full-size($width: $green-check-width, $left: none);
        right: 0;
        background-color: $tertiary-color;
        background-image: url("./../../assets/images/logo/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        transform: translateX(100%);
        transform-origin: right;
        transition: transform $check-animation-time ease-out;
    }

    &:hover {
        &::after {
            width: $green-check-width;
        }

        &::before {
            transform: translateX(0);
        }
    }
}
