$default-font-weight: 400;
$parthnership-font-weight: 500;

@mixin content-footer($font-weight: $default-font-weight) {
    display: flex;
    flex-direction: column;
    gap: 0.438rem;

    @include widescreen {
        flex-direction: row;
        gap: 1rem;
    }

    &__link {
        position: relative;
        font-size: 1rem;
        color: $footer-text-color;
        font-weight: $font-weight;
        margin-right: auto;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.125rem;
            background-color: $footer-text-color;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 200ms ease-out;
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}

.footer {
    padding: 1.375rem 1.563rem;
    background-color: $footer-background-color;

    &__title {
        font-family: $secondary-font-family;
        font-size: 1.125rem;
        font-weight: $default-font-weight;
        color: $footer-text-color;

        @include widescreen {
            order: 2;
        }
    }

    @include widescreen {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        padding: 3.5rem 3.75rem 1.875rem 2rem;
    }
}

.footer-content-contenair {
    @include content-footer;
    margin-top: 1rem;

    @include widescreen {
        margin: 0;
        gap: 2.625rem;
    }
}

.partnership-contenair {
    @include content-footer($parthnership-font-weight);
}

.contact-contenair {
    @include content-footer;
}
