%under-text-animation {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $footer-text-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 200ms ease-out;
        will-change: transform;
    }

    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

%content-footer {
    @include flex($direction: column);
    gap: 0.438em;

    @include widescreen {
        flex-direction: row;
        gap: 1em;
    }
}

.footer {
    padding: 1.375em 1.563em;
    background-color: $footer-background-color;

    a, &__title {
        color: $footer-text-color;
    }

    &__title {
        font-family: $secondary-font-family;
        font-size: 1.125em;
        font-weight: 400;

        @include widescreen {
            order: 2;
        }
    }

    @include widescreen {
        @include flex($justify: flex-end, $align: center);
        gap: 4em;
        padding: 3.5em 3.75em 1.875em 2em;
    }
}

.footer-content-container {
    @extend %content-footer;
    margin-top: 1em;

    @include widescreen {
        margin: 0;
        gap: 2.625em;
    }
}

.partnership-container {
    @extend %content-footer;
    font-weight: 500;

    &__link {
        @extend %under-text-animation;
    }
}

.contact-container {
    @extend %content-footer;

    &__link {
        @extend %under-text-animation;
    }
}