@keyframes heart {
    0% {
        transform: scale(0, 0);
    }
    60% {
        transform: scale(1.4, 1.4);
    }
    100% {
        transform: scale(1, 1);
    }
}

.like {
    height: 21px;
    width: 23px;
    background-image: url("./../../assets/images/logo/like.png");
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;

    &::after {
        @include pseudo-elements-absolute-full-size($width: 23px, $height: 21px);
        background-image: url("./../../assets/images/logo/union.png");
        background-repeat: no-repeat;
        transform: scale(0);
        transform-origin: center;
        transition: transform 300ms ease-out;
    }
    
    &:hover {
        &::after {
            transform: scale(1);
            animation: heart 300ms;
        }
    }
}
