.activities {
    padding: 1.875em;
    margin: 2.188em 0 2.188em 0;
}

.activities-container {
    display: flex;
    gap: 1.875em;
    margin-top: 1.875em;
}

.activities-container a{
    flex: 1;
}

.activities-card {
    display: flex;
    flex-direction: column;
    padding: 0; /* to remove the padding from card component */
    height: 100%; /* so all the cards have the same height when the content wrapped */
}

.activities-card--img {
    height: 23.75em;
    width: 100%;
    border-radius: 1.25em 1.25em 0 0;
}

.activities-card--content {
    font-weight: bold;
    padding: 1.25em 1.188em;
    font-size: 1em;
    margin: auto 0 auto 0;
}