// color
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$main-background-color: #f6f6f6;
$secondary-background-color: #ffffff;
$location-background-color: #eaeaea;
// text color
$h1-color: #101010;
$main-text-color: #000000;
$secondary-text-color: #353535;
$new-text-color: #008766;

$footer-background-color: #353535;
$footer-text-color: #ffffff;

$btn-gradient-color: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$btn-text-color: #ffffff;
$btn-hover-color: rgb(255, 255, 255, 0.15);

// typography
$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Shrikhand", serif;

// other
$btn-border-radius: 1.563em;

